$fontSizeText: 12px;
$fontSizeMediumText: 24px;
$fontSizeHeadline: 65px;
$fontText: Helvetica, Arial, sans-serif;
$fontHeadline: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #86A5D9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#darkMode {
    margin: 0 4px;
}

#darkMode-container {
    position: absolute;
    top: 20px;
}

#quiz-container {
    background-color: antiquewhite;
    height: 650px;
    width: 650px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}

.darkMode:checked {
    background-color: #f6e7a5;
}

.dark {
    color: lightpink;
    background-color: #391a25;
}

h1 {
    color: #003844;
    text-align: center;
    font-size: $fontSizeHeadline;
    font-family: 'Dokdo';
}

.question {
    font-family: $fontText;
}

.newQuestionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
        display: block;
    }
}

#startButton {
    border: solid black;
    padding: 10px;
    border-radius: 10px;
}

.resultRed {
    color: red;
}

.resultOrange {
    color: orange;
}

.resultGreen {
    color: green;
}

input {
    margin: 0 5px;
}

label {
    margin: 0 10px 0 0;
}