$fontSizeText: 12px;
$fontSizeMediumText: 24px;
$fontSizeHeadline: 40px;
$fontText: Helvetica, Arial, sans-serif;
$fontHeadline: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;

body {
    background-color: lightpink;
    
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.darkMode:checked {
    background-color: #f6e7a5;
}

.dark {
    color: lightpink;
    background-color: #391a25;
}

h1 {
    text-align: center;
    font-family: $fontHeadline;
    font-size: $fontSizeHeadline;
}

.question {
    font-family: $fontText;
}